html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #1AD6FD, #1D62F0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

.col-fixed-50 {
  width: 50px;
  position: fixed;
  height: 100%;
  z-index: 100;
}

.row {
  width: 100%;
  height: 100%;
  margin: 0;
}

.col-offset-400 {
  margin-left: 50px;
}

.tab-container {
  width: calc(100% - 50px);
  height: 100%;
  padding: 0;
}

.sidebar-container {
  background-color: #2c3e50;
}

.sidebar-button {
  width: 50px;
  height: 50px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
}

.sidebar-button:hover {
  background-color: #0d1318;
}

.sidebar-button-active {
  border-left: 5px solid #0d1318;
  background-color: #1d2a36;
}

.sidebar-button-container {
  margin-top: 40px;
	margin-bottom: 50px;
}

/*==================================notiflog==================================*/

#notif-log {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	z-index: 99;
	overflow: auto;
	padding-top: 40px;
	padding-left: 60px;
	padding-right: 40px;
	color: #eee;
}

/*===============================windowControl================================*/

.btn-ctrl {
  width: 30px;
  height: 30px;
  text-align: center;
  float: right;
  -webkit-app-region: no-drag;
  font-size: 20px;
}

.btn-red > i {
	color: #e74c3c;
}

.btn-red:hover > i {
	color: #d62c1a;
}

.btn-yellow > i{
  color: #f39c12;
}

.btn-yellow:hover > i {
  color: #c87f0a;
}

.btn-green > i {
  color: #18bc9c;
}

.btn-green:hover > i {
  color: #128f76;
}

.win-ctrl-btn {
  -webkit-app-region: drag;
  position: fixed;
  width: calc(100% - 10px);
  height: 40px;
  top: 0;
  padding: 5px;
  overflow: hidden;
  z-index: 102;
}

.content {
  width: 100%;
  height: 100%;
}

.jumbotron {
	background-color: transparent;
	text-align: center;
}

.alert-info {
  border-color: #eee;
  background: #3498db;
  color: #fff;
}

.alert-danger {
  border-color: #eee;
  background: #e74c3c;
  color: #fff;
}

.alert-warning {
  border-color: #eee;
  background: #f39c12;
  color: #fff;
}

.alert-success {
  border-color: #eee;
  background: #18bc9c;
  color: #fff;
}

.main {
	width: 100%;
	height: 100%;
}

/*=============================index/loading-screen===========================*/

#window-content {
	display: none;
}

#loading-screen {
	background-color: #1d2a36;
	color: #eee;
	text-align: center;
}

#loading-screen > h1 {
	display: inline-flex;
	align-items: center;
	height: 100%;
}



/*===================================game=====================================*/

.rules-bar {
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 99;
	background-color: #1d2a36;
	color: white;
	text-align: center;
}

.toolbar {
  width: 50px;
  position: fixed;
  height: 100%;
  z-index: 98;
	margin-left: 200px;
	background-color: #0d1318;
	color: white;
	text-align: center;
  display: none;
}

.toolbar > ul > li > button:hover {
	background-color: black;
}

.nav-margin {
	margin-top: 50px;
}

#main-content {
	padding-left: 250px;
	padding-top: 40px;
  display: none;
  width: calc(100% - 250px);
}

#main-formule {
  width: 100%;
  display: inline-block;
}

#tooltip {
  position: absolute;
  display: none;
  z-index: 101;
}

/*==================================slider====================================*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9534f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*===================================home=====================================*/
